* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-inner {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.display-block {
  margin-bottom: 16px;
}

.display-block p:not(.display__operator) {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  background-color: #f9f9f9;
  text-align: right;
  color: #333;
  line-height: 1.5;
  overflow: hidden;
}

.display-block p:last-child {
  margin-bottom: 0;
}

.display__operator {
  text-align: center;
  opacity: 0.2;
  margin: 0;
  margin-bottom: 14px;
}

.display__operator.display__operator--active {
  opacity: 1;
}

.buttons-block {
  display: flex;
  justify-content: space-between;
}

.buttons-block button {
  cursor: pointer;
}

.buttons-block__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}

.buttons-block__row button {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 0;
}

.buttons-block__row.is__number {
  width: 70%;
}

.buttons-block__row.is__number button {
  width: calc((100% - 30px) / 3);
}

.buttons-block__row.is__op {
  width: 30%;
}

.buttons-block__row.is__op button {
  width: calc((100% - 20px) / 2);
}

.buttons-block__row.is__op button.reset,
.buttons-block__row.is__op button.answer {
  width: 100%;
}
